@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import "../components/color";
@import "../components/typo";

body {
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
    margin: 0;
    position: relative;
}

.btn-master {
    padding: 15px 26px;
    border-radius: 10px;
    font-weight: map-get($font-weights, semibold);
    border: 0px;
}
.btn-edit {
    @extend .btn-master;
    background: $primary;
    color: $white;
    align-self: center;
}

.header {
    color: $primary;
    font-weight: map-get($font-weights, bold);
}
.subheader {
    @extend .header;
    font-size: 1rem;
}

.caption {
    color: $black;
    font-weight: map-get($font-weights, regular);
    font-size: 1.3rem;
}

.box {
    box-shadow: 0px 20px 36px 9px $shadow !important;
    border-radius: 20px;
    width: 100%;
    text-align: start;
}

.gradient {
    background-image: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.01),
            rgba(255, 255, 255, 1) 85%
        ),
        radial-gradient(
            ellipse at top left,
            rgba(4, 159, 249, 0.384),
            transparent 50%
        ),
        radial-gradient(
            ellipse at top right,
            rgba(35, 18, 190, 0.13),
            transparent 50%
        ),
        radial-gradient(
            ellipse at center right,
            rgba(20, 4, 249, 0.363),
            transparent 50%
        ),
        radial-gradient(
            ellipse at center left,
            rgba(252, 202, 38, 0.342),
            transparent 50%
        );
}

.offcanvas {
    padding: 15px 30px !important;
    height: fit-content !important;
    width: 80% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
}

.nb-admin {
    box-shadow: 0px 10px 36px 9px $shadow;
    background: $white;

    .dropdown-menu.show {
        border: none;
        color: $black;
        background: $white;
        box-shadow: 0px 10px 36px 9px $shadow;
    }

    button {
        font-weight: map-get($font-weights, semibold);
    }
}

.page-content {
    padding-top: 70px;

    .list-group {
        box-shadow: 0px 20px 36px 9px $shadow !important;
        border-top-right-radius: 20px !important;
        border-bottom-right-radius: 20px !important;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 100%;
        text-align: start;
        font-weight: map-get($font-weights, semibold);
    }

    .list-group-item {
        border: none;
        background: transparent !important;

        &:hover {
            color: $primary;
            transform: scale(1.05);
            transition: transform 200ms ease-in-out;
        }
    }
    .main-content {
        margin-left: 15px;
        margin-right: 15px;
        padding-left: 20px !important;
    }

    .menu-profile {
        padding-left: 10px;
        padding-right: 10px;

        .btn {
            font-weight: map-get($font-weights, semibold) !important;
        }
    }
}

.stick-top {
    position: sticky;
    top: 3rem;
    align-self: start;
}

#sidebar-nav {
    width: 280px;
}

.dashboard-home {
    @extend .box;
    margin-top: 30px;
    padding: 0px 15px 15px 15px;

    .dashboard-header {
        @extend .header;
        font-size: 1.5rem;
    }

    .dashboard-caption {
        @extend .caption;
        font-size: 1rem;
    }
}

.landing-page-setting {
    @extend .box;
    margin-top: 30px;
    margin-bottom: 100px;
    padding: 15px 30px 30px 30px;

    .lp-header {
        @extend .header;
        color: $black !important;
        font-size: 1.5rem;
    }
    .lp-subheader {
        @extend .header;
        font-size: 1.3rem;
    }

    .lp-caption {
        @extend .caption;
        font-size: 1rem;
    }

    .btn-lp-edit {
        @extend .btn-master;
        background: $primary;
        color: $white;
    }

    .logo-wrap {
        width: 300px;
        height: 150px;
        box-shadow: 0px 20px 36px 9px $shadow !important;

        border-radius: 12px;
        overflow: hidden;
    }

    .img-master {
        width: 100% !important;
        height: 100% !important;

        background-size: cover !important;
        background-position: center center !important;
        background-repeat: no-repeat !important;
    }
    .hero-wrap {
        width: 100%;
        max-width: 500px;
        height: 500px;
        box-shadow: 0px 20px 36px 9px $shadow !important;

        border-radius: 12px;
        overflow: hidden;
    }
    .btn-hero {
        @extend .btn-master;
        color: $white;
        background: $primary;
        box-shadow: 0px 20px 36px 9px $shadow !important;

        &:hover {
            box-shadow: 0px 20px 36px 9px rgba(4, 159, 249, 0.384) !important;
            transform: scale(1.1);
            transition: transform 300ms ease-in-out;
        }
    }
}

.profile-setting {
    @extend .box;
    margin-top: 30px;
    margin-bottom: 100px;
    padding: 15px 30px 30px 30px;

    .p-header {
        @extend .header;
        color: $black !important;
        font-size: 1.5rem;
    }
    .p-subheader {
        @extend .header;
        font-size: 1.3rem;
    }

    .p-caption {
        @extend .caption;
        font-size: 1rem;
    }

    .btn-p-edit {
        @extend .btn-master;
        background: $primary;
        color: $white;
    }

    .img-master {
        width: 100%;
        height: 100%;

        background-size: cover !important;
        background-position: center center !important;
        background-repeat: no-repeat !important;
    }
    .hero-wrap {
        width: 100%;
        max-width: 500px;
        height: 500px;
        box-shadow: 0px 20px 36px 9px $shadow !important;

        border-radius: 12px;
        overflow: hidden;
    }
    .team-wrap {
        width: 100%;
        max-width: 500px;
        height: 250px;
        box-shadow: 0px 20px 36px 9px $shadow !important;

        border-radius: 12px;
        overflow: hidden;
    }
}

.tableListView-setting {
     @extend .box;
    margin-top: 30px;
    margin-bottom: 100px;
    padding: 15px 30px 30px 30px;

    .v-header {
        @extend .header;
        color: $black !important;
        font-size: 1.5rem;
    }
    .v-subheader {
        @extend .header;
        font-size: 1.3rem;
    }

    .v-caption {
        @extend .caption;
        font-size: 1rem;
    }

    .btn-v-edit {
        @extend .btn-master;
        background: $primary;
        color: $white;
    }

    .badge {
        padding: 10px;
        font-size: 1.1rem;
    }
}

footer {
    position: absolute;
    box-shadow: 0px 0px 15px 5px $shadow !important;
    bottom: 0;
    text-align: center;
    color: $black;
    font-weight: map-get($font-weights, semibold);
    font-size: 1rem;
    padding: 10px;
    margin: 0;
    width: 100% !important;
}
