$primarylight2: #17f9ff;
$primarylight1: #00b4fc;
$primary: #005bc5;
$primarydark1: #012677;
$primarydark2: #001449;

$white: #fff;
$lightgrey: #b9b9b9;
$black: #252525;
$red: #c70039;

$shadow: rgba(0, 91, 197, 0.2);
